<div class="main-view">
  <div class="container">
    <div class="row">
      <div class="col-6"><app-analog-clock #ana></app-analog-clock></div>
      <div class="col-6">
        <app-digital-clock #digi></app-digital-clock>
      </div>
    </div>
    <div class="containerb">
      <div class="button-wrapper">
        <div class="row">
          <div class="col-6">
            <button
              class="btn mr-3 btn-dark btn-lg btn-block"
              (click)="decrementTime()"
            >
              Decrement
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn ml-3 btn-dark custom-color btn-lg btn-block"
              (click)="incrementTime()"
            >
              Increment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
