@import "node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-view {
  background: #091923;
  min-height: 100vh;
}

.clock-container {
  z-index: -20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
